<mat-grid-list cols="3" rowHeight="360px" gutterSize="16px">
    <mat-grid-tile>
      <!-- <h2>Gráfico Pizza</h2> -->
      <div id="graficoPizza" style="width: 400px; height: 320px;"></div>
    </mat-grid-tile>
    <mat-grid-tile>
      <!-- <h2>Gráfico de Colunas</h2> -->
      <div id="graficoColunas" style="width: 400px; height: 320px;"></div>
    </mat-grid-tile>
    <mat-grid-tile>
      <!-- <h2>Gráfico de Linhas</h2> -->
      <div id="graficoLinhas" style="width: 400px; height: 320px;"></div>
    </mat-grid-tile>
</mat-grid-list>