/dist
/tmp
/out-tsc
/Servers
**/dist/
**/build/
**/target/
**/.idea/
**/lib/
**/node_modules/

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
/.metadata/
/.recommenders/

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
