.card {
    width: 95%;
    height: 80%;
    margin: .8rem auto; 
  }
  
  .container {
     padding-left: 1rem;
     padding-right: 1rem;
  }
 
  .full-width {
    width: 100%; 
  }

  .half-width {
   width: 40%;
   margin-right: 2rem;
  }
 
  button {
    background-color: rgb(235, 235, 235) !important;
 }
 
 .button-add {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
 }
 
 .back-search {
    margin-top: 1rem;
    height: 2rem;
    font-size: small;
 }