<mat-card class="card">

    <mat-card-header>
      <mat-card-title>Transação</mat-card-title>
      <mat-card-subtitle>{{idRegistro}}</mat-card-subtitle>
      <a class="back-search" mat-button (click)="backSearch()">Voltar a pesquisa</a>
    </mat-card-header>

    <div class="container">
      <form class="form" [formGroup]="form">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Descrição</mat-label>
          <input 
          formControlName="description"
          name="description"
          matInput >
          <mat-error *ngIf="form.get('description').hasError('required')">
            Descrição é obrigatório.
          </mat-error>

          <mat-error *ngIf="form.get('description').hasError('maxlength')">
            Descrição deve ter no máximo 250 caracteres.
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Tipo</mat-label>
          <mat-select formControlName="type" (selectionChange)="onSelectionChangeType($event)">
            <mat-option *ngFor="let option of transactionTypeOptions" [value]="option.value">
              {{ option.label }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="form.get('type').hasError('required')">
            Tipo é obrigatório.
          </mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="form.get('type').value != 'ENTRADA'" class="full-width" appearance="outline">
          <mat-label>Conta</mat-label>
          <mat-select formControlName="accountOrigin" [compareWith]="objectComparisonFunction">
            <mat-option *ngFor="let option of accountOptions" [value]="option" [disabled]="disableOptionSelectedAccountDestination(option)">{{option.id}} - {{option.name}}</mat-option>
          </mat-select>
          <mat-error *ngIf="form.get('accountOrigin').hasError('required')">
            Conta é obrigatório.
          </mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="form.get('type').value != 'SAIDA'" class="full-width" appearance="outline">
          <mat-label>Conta destino</mat-label>
          <mat-select formControlName="accountDestination" [compareWith]="objectComparisonFunction">
            <mat-option *ngFor="let option of accountOptions" [value]="option" [disabled]="disableOptionSelectedAccountOrigin(option)">{{option.id}} - {{option.name}}</mat-option>
          </mat-select>
          <mat-error *ngIf="form.get('accountDestination').hasError('required')">
            Conta destino é obrigatório.
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Categoria</mat-label>
          <mat-select formControlName="category" [compareWith]="objectComparisonFunction">
            <mat-option *ngFor="let option of categoryOptions" [value]="option">{{option.id}} - {{option.name}}</mat-option>
          </mat-select>
          <mat-error *ngIf="form.get('category').hasError('required')">
            Categoria é obrigatório.
          </mat-error>
        </mat-form-field>

        <mat-form-field class="half-width" appearance="outline">
          <mat-label>Data</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="form.get('date').hasError('required')">
            Data é obrigatório.
          </mat-error>
        </mat-form-field>

        <mat-form-field class="half-width" appearance="outline">
          <mat-label>Valor</mat-label>
          <input 
          formControlName="price"
          name="price"
          matInput >
          <mat-error *ngIf="form.get('price').hasError('required')">
            Valor é obrigatório.
          </mat-error>
        </mat-form-field>

        <div>
          <mat-checkbox (selectionChange)="onSelectionChangeIsRecurringTransaction($event)" formControlName="isRecurringTransaction">
            É uma Transação Recorrente
            <mat-icon class="ajuda" matTooltip="Clique para vincular uma Transação Recorrente">help_outline</mat-icon>
          </mat-checkbox>
        </div>

        <mat-form-field *ngIf="form.get('isRecurringTransaction').value" class="full-width" appearance="outline">
          <mat-label>Transação recorrente</mat-label>
          <mat-select formControlName="recurringTransaction" [compareWith]="objectComparisonFunction">
            <mat-option *ngFor="let option of recurringTransactionOptions" [value]="option">{{option.id}} - {{option.description}}</mat-option>
          </mat-select>
          <mat-error *ngIf="form.get('recurringTransaction').hasError('required')">
            Transação recorrente é obrigatório.
          </mat-error>
        </mat-form-field>
      
        <div>
          <mat-checkbox (selectionChange)="onSelectionChangeIsGoal($event)" formControlName="isGoal">
            Pertence a uma Meta
            <mat-icon class="ajuda" matTooltip="Clique para vincular uma Meta">help_outline</mat-icon>
          </mat-checkbox>
        </div>

        <mat-form-field *ngIf="form.get('isGoal').value" class="full-width" appearance="outline">
          <mat-label>Meta</mat-label>
          <mat-select formControlName="goal" [compareWith]="objectComparisonFunction">
            <mat-option *ngFor="let option of goalOptions" [value]="option">{{option.id}} - {{option.description}}</mat-option>
          </mat-select>
          <mat-error *ngIf="form.get('goal').hasError('required')">
            Meta é obrigatório.
          </mat-error>
        </mat-form-field>
      </form>
    </div>

    <div class="button-add">
      <button (click)="saveClick()" mat-fab aria-label="Salvar">
        <mat-icon>check</mat-icon>
      </button>
    </div>

</mat-card>