<mat-card class="card mat-elevation-z8">

    <mat-card-header>
        <mat-card-title>Fluxo de caixa</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <div class="table-container container-color">
            <form class="form" [formGroup]="form">
                <mat-form-field appearance="standard">
                    <mat-label>Filtro</mat-label>
                    <input matInput (keyup)="applyFilter($event)">
                </mat-form-field>

                <mat-icon fontIcon="arrow_left" (click)="prevMonth()"></mat-icon>
                <mat-form-field class="date-width" appearance="outline">
                    <mat-label>Mês e ano</mat-label>
                    <input formControlName="date" matInput [matDatepicker]="dp">
                    <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                    <mat-datepicker #dp
                                    startView="multi-year"
                                    panelClass="example-month-picker">
                    </mat-datepicker>
                </mat-form-field>  
                <mat-icon fontIcon="arrow_right" class="date-margin" (click)="nextMonth()"></mat-icon>
                
                <mat-form-field class="half-width" appearance="outline">
                    <mat-label>Conta</mat-label>
                    <mat-select formControlName="account" [compareWith]="objectComparisonFunction">
                        <mat-option [value]="null"></mat-option>
                        <mat-option *ngFor="let option of accountOptions" [value]="option">
                            {{option.id}} - {{option.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="quarter-width" appearance="outline">
                    <mat-label>Tipo</mat-label>
                    <mat-select formControlName="type">
                        <mat-option [value]="null"></mat-option>
                        <mat-option *ngFor="let option of typeOptions" [value]="option.value">
                            {{ option.label }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </form>
        
            <div class="scroll-table">
                <table mat-table [dataSource]="dataSource">
            
                <ng-container matColumnDef="type">
                    <th mat-header-cell *matHeaderCellDef> Tipo </th>
                    <td mat-cell *matCellDef="let element"> {{element.type | transactionTypeOptions}} </td>
                </ng-container>
            
                <ng-container matColumnDef="category">
                    <th mat-header-cell *matHeaderCellDef> Categoria </th>
                    <td mat-cell *matCellDef="let element"> {{element.category.name}} </td>
                </ng-container>
            
                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef> Descrição </th>
                    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                </ng-container>
            
                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef> Data de pagamento </th>
                    <td mat-cell *matCellDef="let element"> {{element.datePaid | date:'dd/MM/yyyy'}} </td>
                </ng-container>
            
                <ng-container matColumnDef="price">
                    <th mat-header-cell *matHeaderCellDef> Valor Previsto </th>
                    <td mat-cell *matCellDef="let element"> {{element.price}} </td>
                </ng-container>
            
                <ng-container matColumnDef="pricePaid">
                    <th mat-header-cell *matHeaderCellDef> Valor do pagamento </th>
                    <td mat-cell *matCellDef="let element"> {{element.pricePaid}} </td>
                </ng-container>
            
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef> Situação </th>
                    <td mat-cell *matCellDef="let element"> {{element.paymentStatus | paymentStatusOptions}} </td>
                </ng-container>
                        
                <colgroup>
                    <col matColumnDef="type2" style="width: 15%;">
                    <col matColumnDef="category2" style="width: 15%;">
                    <col matColumnDef="description2" style="width: 20%;">
                    <col matColumnDef="date2" style="width: 15%;">
                    <col matColumnDef="price2" style="width: 12%;">
                    <col matColumnDef="pricePaid2" style="width: 15%;">
                    <col matColumnDef="status2" style="width: 10%;">
                </colgroup>
            
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
        
            <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                            showFirstLastButtons 
                            aria-label="Selecione a página">
            </mat-paginator>
        </div>  
        <div class="list-container container-color">
            <mat-list>
                <mat-grid-list cols="3" rowHeight="30px">
                    <mat-grid-tile>
                        <mat-list-item>
                            Entradas previstas
                            <mat-icon fontIcon="arrow_upward" class="icon-entradas"></mat-icon>
                            {{cashFlow?.totalEntradasPrevistas}}
                        </mat-list-item>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-list-item>
                            Saídas previstas
                            <mat-icon fontIcon="arrow_downward" class="icon-saidas"></mat-icon>
                            {{cashFlow?.totalSaidasPrevistas}}
                        </mat-list-item>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-list-item>
                            Total saldo previsto
                            <mat-icon fontIcon="import_export" class="icon-saldo"></mat-icon>
                            {{cashFlow?.totalSaldoPrevisto}}
                        </mat-list-item>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-list-item>
                            Entradas realizadas
                            <mat-icon fontIcon="arrow_upward" class="icon-entradas"></mat-icon>
                            {{cashFlow?.totalEntradasRealizadas}}
                        </mat-list-item>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-list-item>
                            Saídas realizadas 
                            <mat-icon fontIcon="arrow_downward" class="icon-saidas"></mat-icon>
                            {{cashFlow?.totalSaidasRealizadas}}
                        </mat-list-item>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-list-item>
                            Total saldo realizado
                            <mat-icon fontIcon="import_export" class="icon-saldo"></mat-icon>
                            {{cashFlow?.totalSaldoRealizado}}
                        </mat-list-item>
                    </mat-grid-tile>
                  </mat-grid-list>
            </mat-list>
        </div>
    </mat-card-content>
  </mat-card>