.card {
    width: 95%;
    height: 80%;
    margin: .8rem auto; 
    background-color: rgb(235, 235, 235);
}

.container-color {
    background-color: white;
}
 
table {
    width: 100%;
}

/* tamanho da grid alterar aqui para ajustar a tela */
.scroll-table {
    height: 265px;
    overflow-y: auto;
}

mat-form-field {
    width: 100%; 
}
  
.table-container {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
}

.list-container {
    margin-top: 10px;
}

.rotate-90 {
  transform: rotate(90deg);
}

.half-width {
    width: 35%;
    margin-right: 2rem;
}

.quarter-width {
    width: 20%;
    margin-right: 2rem;
}

.date-width {
    width: 20%;
}

.date-margin {
    margin-right: 2rem;
}

.icon-entradas {
    color: green;
}

.icon-saidas {
    color: red;
}

.icon-saldo {
    color: blue;
}