.card {
    width: 95%;
    height: 80%;
    margin: .8rem auto; 
    background-color: rgb(235, 235, 235);
}

.container-color {
    background-color: white;
}
 
table {
    width: 100%;
}

.scroll-table {
    height: 235px;
    overflow-y: auto;
}

mat-form-field {
    width: 100%; 
}
  
.table-container {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 10px;
}

.list-container {
    margin-top: 10px;
}

.rotate-90 {
  transform: rotate(90deg);
}