<mat-card class="card mat-elevation-z8">
    <form class="form" [formGroup]="form">        
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Meta</mat-label>
            <mat-select formControlName="goal" [compareWith]="objectComparisonFunction">
                <mat-option *ngFor="let option of goalOptions" [value]="option">
                    {{option.id}} - {{option.description}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </form>
    <mat-card-content>
        <div class="progress-container" *ngIf="progressValue != null">
            <div class="progress-label">Progresso</div>
            <mat-progress-bar [value]="progressValue" mode="determinate"></mat-progress-bar>
            <div class="progress-label">{{ progressValue }}%</div>
        </div>
        <app-goal-charts [dadosGrafico]="dashboard" ></app-goal-charts>
    </mat-card-content>
</mat-card>
  