.card {
    width: 95%;
    height: 80%;
    margin: .8rem auto; 
    background-color: rgb(235, 235, 235);
}

.full-width {
    width: 100%; 
}

.progress-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    padding: 16px;
    border-radius: 4px;
    margin-bottom: 12px;
}

.mat-progress-bar {
    width: 100%;
    margin-bottom: 8px;
}

.progress-label {
    font-weight: bold;
}

  