<mat-card class="card mat-elevation-z8">
    <mat-tab-group>
        <mat-tab label="Transações">
            <div class="container">
                <mat-form-field appearance="standard">
                  <mat-label>Filtro</mat-label>
                  <input matInput (keyup)="applyFilterTransaction($event)">
                </mat-form-field>
            
                <div class="scroll-table">
                  <table mat-table [dataSource]="dataSourceTransactions">
              
                    <ng-container matColumnDef="id">
                      <th mat-header-cell *matHeaderCellDef> Identificador </th>
                      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                    </ng-container>

                    <ng-container matColumnDef="date">
                      <th mat-header-cell *matHeaderCellDef> Data </th>
                      <td mat-cell *matCellDef="let element"> {{element.date | date:'dd/MM/yyyy'}} </td>
                    </ng-container>

                    <ng-container matColumnDef="description">
                      <th mat-header-cell *matHeaderCellDef> Descrição </th>
                      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                    </ng-container>
          
                    <ng-container matColumnDef="type">
                        <th mat-header-cell *matHeaderCellDef> Tipo </th>
                        <td mat-cell *matCellDef="let element"> {{element.type | transactionTypeOptions}} </td>
                    </ng-container>
          
                    <ng-container matColumnDef="category">
                      <th mat-header-cell *matHeaderCellDef> Categoria </th>
                      <td mat-cell *matCellDef="let element">{{element.category.id}} - {{element.category.name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="accountOrigin">
                      <th mat-header-cell *matHeaderCellDef> Conta origem </th>
                      <td mat-cell *matCellDef="let element">{{element.accountOrigin?.id}} - {{element.accountOrigin?.name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="accountDestination">
                      <th mat-header-cell *matHeaderCellDef> Conta destino </th>
                      <td mat-cell *matCellDef="let element">{{element.accountDestination?.id}} - {{element.accountDestination?.name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="price">
                      <th mat-header-cell *matHeaderCellDef> Valor </th>
                      <td mat-cell *matCellDef="let element">{{element.price}} </td>
                    </ng-container>
              
                    <ng-container matColumnDef="action">
                      <th mat-header-cell *matHeaderCellDef> Ações </th>
                      <td mat-cell *matCellDef="let element" class="mat-column-flex"> 
                        <button (click)="editTransaction(element)" mat-icon-button color="primary">
                          <mat-icon>edit</mat-icon>
                        </button>  
                        <button (click)="deleteClickTransaction(element)" mat-icon-button color="primary">
                          <mat-icon>delete</mat-icon>
                        </button>  
                      </td>
                    </ng-container>
              
                    <colgroup>
                      <col matColumnDef="id1" style="width: 10%;">
                      <col matColumnDef="date2" style="width: 10%;">
                      <col matColumnDef="description2" style="width: 10%;">
                      <col matColumnDef="type2" style="width: 10%;">
                      <col matColumnDef="category2" style="width: 13%;">
                      <col matColumnDef="accountOrigin2" style="width: 13%;">
                      <col matColumnDef="accountDestination2" style="width: 13%;">
                      <col matColumnDef="price2" style="width: 10%;">
                    </colgroup>
              
                    <tr mat-header-row *matHeaderRowDef="columnsTransactions"></tr>
                    <tr mat-row *matRowDef="let row; columns: columnsTransactions;"></tr>
                  </table>
                </div>
            
                <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                                showFirstLastButtons 
                                aria-label="Selecione a página">
                </mat-paginator>
              </div>
              <div class="button-add">
                <button (click)="newTransaction()" mat-fab aria-label="Novo">
                  <mat-icon>add</mat-icon>
                </button>
              </div>
        </mat-tab>
        <mat-tab label="Transações Recorrentes">
            <div class="container">
                <mat-form-field appearance="standard">
                  <mat-label>Filtro</mat-label>
                  <input matInput (keyup)="applyFilterRecurringTransaction($event)">
                </mat-form-field>
            
                <div class="scroll-table">
                  <table mat-table [dataSource]="dataSourceRecurringTransactions">
              
                    <ng-container matColumnDef="id">
                      <th mat-header-cell *matHeaderCellDef> Identificador </th>
                      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                    </ng-container>

                    <ng-container matColumnDef="description">
                      <th mat-header-cell *matHeaderCellDef> Descrição </th>
                      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                    </ng-container>
          
                    <ng-container matColumnDef="type">
                        <th mat-header-cell *matHeaderCellDef> Tipo </th>
                        <td mat-cell *matCellDef="let element"> {{element.type | transactionTypeOptions}} </td>
                    </ng-container>
          
                    <ng-container matColumnDef="category">
                      <th mat-header-cell *matHeaderCellDef> Categoria </th>
                      <td mat-cell *matCellDef="let element">{{element.category.id}} - {{element.category.name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="accountOrigin">
                      <th mat-header-cell *matHeaderCellDef> Conta origem </th>
                      <td mat-cell *matCellDef="let element">{{element.accountOrigin?.id}} - {{element.accountOrigin?.name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="accountDestination">
                      <th mat-header-cell *matHeaderCellDef> Conta destino </th>
                      <td mat-cell *matCellDef="let element">{{element.accountDestination?.id}} - {{element.accountDestination?.name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="price">
                      <th mat-header-cell *matHeaderCellDef> Valor </th>
                      <td mat-cell *matCellDef="let element">{{element.price}} </td>
                    </ng-container>
              
                    <ng-container matColumnDef="action">
                      <th mat-header-cell *matHeaderCellDef> Ações </th>
                      <td mat-cell *matCellDef="let element" class="mat-column-flex"> 
                        <button (click)="editRecurringTransaction(element)" mat-icon-button color="primary">
                          <mat-icon>edit</mat-icon>
                        </button>  
                        <button (click)="deleteClickRecurringTransaction(element)" mat-icon-button color="primary">
                          <mat-icon>delete</mat-icon>
                        </button>  
                      </td>
                    </ng-container>
              
                    <colgroup>                      
                      <col matColumnDef="id1" style="width: 10%;">
                      <col matColumnDef="description2" style="width: 15%;">
                      <col matColumnDef="type2" style="width: 12%;">
                      <col matColumnDef="category2" style="width: 15%;">
                      <col matColumnDef="accountOrigin2" style="width: 13%;">
                      <col matColumnDef="accountDestination2" style="width: 13%;">
                      <col matColumnDef="price2" style="width: 10%;">
                    </colgroup>
              
                    <tr mat-header-row *matHeaderRowDef="columnsRecurringTransactions"></tr>
                    <tr mat-row *matRowDef="let row; columns: columnsRecurringTransactions;"></tr>
                  </table>
                </div>
            
                <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                                showFirstLastButtons 
                                aria-label="Selecione a página">
                </mat-paginator>
              </div>
              <div class="button-add">
                <button (click)="newRecurringTransaction()" mat-fab aria-label="Novo">
                  <mat-icon>add</mat-icon>
                </button>
              </div>
        </mat-tab>
    </mat-tab-group>
</mat-card>