<mat-card class="card mat-elevation-z8">
    <form class="form" [formGroup]="form">
        
        <mat-icon fontIcon="arrow_left" (click)="prevMonth()"></mat-icon>
        <mat-form-field class="date-width" appearance="outline">
            <mat-label>Mês e ano</mat-label>
            <input formControlName="date" matInput [matDatepicker]="dp">
            <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
            <mat-datepicker #dp
                            startView="multi-year"
                            panelClass="example-month-picker">
            </mat-datepicker>
        </mat-form-field>  
        <mat-icon fontIcon="arrow_right" class="date-margin" (click)="nextMonth()"></mat-icon>
        
        <mat-form-field class="filter-width" appearance="outline">
            <mat-label>Conta</mat-label>
            <mat-select formControlName="account" [compareWith]="objectComparisonFunction">
                <mat-option [value]="null"></mat-option>
                <mat-option *ngFor="let option of accountOptions" [value]="option">
                    {{option.id}} - {{option.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <!-- <mat-form-field class="filter-width" appearance="outline">
            <mat-label>Tipo</mat-label>
            <mat-select formControlName="type">
                <mat-option [value]="null"></mat-option>
                <mat-option *ngFor="let option of typeOptions" [value]="option.value">
                    {{ option.label }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        
        <mat-form-field class="filter-width" appearance="outline">
            <mat-label>Categoria</mat-label>
            <mat-select formControlName="category" [compareWith]="objectComparisonFunction">
                <mat-option [value]="null"></mat-option>
                <mat-option *ngFor="let option of categoryOptions" [value]="option">
                    {{option.id}} - {{option.name}}
                </mat-option>
            </mat-select>
        </mat-form-field> -->
    </form>
    <mat-card-content>
        <div class="totalizer-container">
            <div class="totalizer-card total">
                <div class="totalizer-value">R$ {{ dashboard.totalSaldo }}</div>
                <div>Saldo atual</div>
            </div>
            <div class="totalizer-card entry">
                <div class="totalizer-value">R$ {{ dashboard.totalEntradas }}</div>
                <div>Entradas</div>
            </div>
            <div class="totalizer-card out">
                <div class="totalizer-value">R$ {{ dashboard.totalSaidas }}</div>
                <div>Saídas</div>
            </div>
            <div class="totalizer-card balance">
                <div class="totalizer-value">R$ {{ dashboard.totalBalanco }}</div>
                <div>Balanço</div>
            </div>
        </div>
        <app-home-charts [dadosGraficoPizza]="dashboard.graficoPizza" [dadosGraficoColuna]="dashboard.graficoColuna" [dadosGraficoBarra]="dashboard.graficoBarra"></app-home-charts>
    </mat-card-content>
</mat-card>
  