.card {
    width: 95%;
    /* height: 80%; */
    margin: .8rem auto; 
    background-color: rgb(235, 235, 235);
  }

img {
    height: 20rem;
    width: 50%;
    margin-left: 15rem;
}

.filter-width {
  width: 65%;
  margin-right: 2rem;
}

.date-width {
  width: 20%;
}

.date-margin {
  margin-right: 2rem;
}

.totalizer-container {
  display: flex;
  justify-content: space-between;
}

.totalizer-card {
  width: 23%; /* Ajuste a largura conforme necessário */
  border: 1px solid #ccc;
  height: 75px;
  padding: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Espaço entre label e valor */
}

.totalizer-value {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px; /* Tamanho maior para o valor */
  flex-grow: 1; /* Faz o valor ocupar espaço vertical disponível */
}
.total {
  background-color: #7EB9DA;
}

.entry {
  background-color: #7DCA71;
}

.out {
  background-color: #FDA094;
}

.balance {
  background-color: #f7e18c;
}
