.container{
    height: 100%;
}

.sidenav {
    width: 13rem;
    color: white;
    background: rgb(103,58,183);
}

img {
    width: 100%;
    height: 7rem;
    margin: .8rem auto 0 auto;
}

.sidenav a {
    color: white;
}

.sidenav i {
    margin-right: .6rem;
}


.spacer {
    flex: 1 1 auto;
}

