<mat-drawer-container class="container" autosize>
    <mat-drawer #drawer class="sidenav" mode="side" opened >
        <img src="assets/img/logo.png" alt="Imagem de navegação">
        <mat-nav-list class="nav-list">
            <a mat-list-item routerLink="home">
                <i class="material-icons">home</i>
                Início
            </a>
            <a mat-list-item routerLink="account">
                <i class="material-icons">account_balance</i>
                Contas
            </a>
            <a mat-list-item routerLink="category">
                <i class="material-icons">sell</i>
                Categorias
            </a>
            <a mat-list-item routerLink="transaction">
                <i class="material-icons">paid</i>
                Transações
            </a>
            <a mat-list-item routerLink="goal">
                <i class="material-icons">trending_up</i>
                Metas
            </a>
            <a mat-list-item routerLink="">
                <i class="material-icons">currency_exchange</i>
                Fluxo de caixa
            </a>
            <a mat-list-item (click)="logout()">
                <i class="material-icons">logout</i>
                Sair
            </a>
        </mat-nav-list>
    </mat-drawer>
  
    <mat-toolbar color="primary">
        <button mat-icon-button (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <span>Controle Financeiro pessoal</span>
        <span class="spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Conta">
            <mat-icon>person</mat-icon>
        </button>
        <span class="display-name">{{displayName}}</span>
    </mat-toolbar>

    <router-outlet></router-outlet>
  
</mat-drawer-container>