.container {
    height: 100%;
    background: linear-gradient(90deg, rgba(198,156,242,1) 0%, rgba(126,5,224,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    width: 25rem;
    margin: auto;
    background-color: rgb(235, 235, 235);
    padding: 2rem 1rem;
    border-radius: 1rem;
}

h1 {
    width: 100%;
    text-align: center;
}

img {
    height: 10rem;
    width: 100%;
}

.full-width {
    width: 100%;
}

button {
    margin-top: 1rem;
}
