<mat-card class="card">

    <mat-card-header>
      <mat-card-title>Metas</mat-card-title>
      <mat-card-subtitle>{{idRegistro}}</mat-card-subtitle>
      <a class="back-search" mat-button (click)="backSearch()">Voltar a pesquisa</a>
    </mat-card-header>

    <div class="container">
      <form class="form" [formGroup]="form">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Descrição</mat-label>
          <input 
          formControlName="description"
          name="description"
          matInput >
          <mat-error *ngIf="form.get('description').hasError('required')">
            Descrição é obrigatório.
          </mat-error>

          <mat-error *ngIf="form.get('description').hasError('minlength')">
            Descrição deve ter pelo menos 2 caracteres.
          </mat-error>

          <mat-error *ngIf="form.get('description').hasError('maxlength')">
            Descrição deve ter no máximo 255 caracteres.
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Tipo</mat-label>
          <mat-select formControlName="type" [compareWith]="objectComparisonFunction">
            <mat-option *ngFor="let option of typeGoalOptions" [value]="option">
              {{option.id}} - {{option.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="form.get('type').hasError('required')">
            Tipo é obrigatório.
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Categoria</mat-label>
            <mat-select formControlName="category" [compareWith]="objectComparisonFunction">
              <mat-option *ngFor="let option of categoryOptions" [value]="option">
                {{option.id}} - {{option.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('category').hasError('required')">
              Categoria é obrigatório.
            </mat-error>
        </mat-form-field>

        <mat-form-field class="half-width" appearance="outline">
            <mat-label>Data de início</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="startDate" [value]="form.controls['startDate'].value | date: 'dd/MM/yyyy'">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="form.get('startDate').hasError('required')">
              Data de início é obrigatório.
            </mat-error>
        </mat-form-field>

        <mat-form-field class="half-width" appearance="outline">
            <mat-label>Data de término</mat-label>
            <input matInput [matDatepicker]="picker1" formControlName="endDate" [value]="form.controls['endDate'].value | date: 'dd/MM/yyyy'">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
            <mat-error *ngIf="form.get('endDate').hasError('required')">
              Data de término é obrigatório.
            </mat-error>
        </mat-form-field>

        <mat-form-field class="half-width" appearance="outline">
          <mat-label>Valor</mat-label>
          <input 
          formControlName="price"
          required
          name="price"
          matInput >
        </mat-form-field>
      </form>
    </div>

    <div class="button-add">
      <button (click)="saveClick()" mat-fab aria-label="Salvar">
        <mat-icon>check</mat-icon>
      </button>
    </div>

</mat-card>