<mat-card class="card">

    <mat-card-header>
      <mat-card-title>Metas</mat-card-title>
      <mat-card-subtitle>{{idRegistro}}</mat-card-subtitle>
      <a class="back-search" mat-button (click)="backSearch()">Voltar a pesquisa</a>
    </mat-card-header>

    <div class="container">
      <form class="form" [formGroup]="form">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Descrição</mat-label>
          <input 
          formControlName="description"
          name="description"
          matInput >
          <mat-error *ngIf="form.get('description').hasError('required')">
            Descrição é obrigatório.
          </mat-error>

          <mat-error *ngIf="form.get('description').hasError('maxlength')">
            Descrição deve ter no máximo 250 caracteres.
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Tipo</mat-label>
          <mat-select formControlName="type" [compareWith]="objectComparisonFunction">
            <mat-option *ngFor="let option of typeGoalOptions" [value]="option">
              {{option.id}} - {{option.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="form.get('type').hasError('required')">
            Tipo é obrigatório.
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Categoria</mat-label>
            <mat-select formControlName="category" [compareWith]="objectComparisonFunction">
              <mat-option *ngFor="let option of categoryOptions" [value]="option">
                {{option.id}} - {{option.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('category').hasError('required')">
              Categoria é obrigatório.
            </mat-error>
        </mat-form-field>
        
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Tipo de transação esperada</mat-label>
          <mat-select formControlName="typeTransactionExpected">
            <mat-option *ngFor="let option of typeTransactionOptions" [value]="option.value">
              {{ option.label }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="form.get('type').hasError('required')">
            Tipo de transação esperada é obrigatório.
          </mat-error>
        </mat-form-field>

        <mat-form-field class="half-width" appearance="outline">
            <mat-label>Data de início</mat-label>
            <input 
              matInput 
              [matDatepicker]="picker" 
              formControlName="startDate"
              >
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="form.get('startDate').hasError('required')">
              Data de início é obrigatório.
            </mat-error>
        </mat-form-field>

        <mat-form-field class="half-width" appearance="outline">
            <mat-label>Data de término</mat-label>
            <input 
              matInput 
              [matDatepicker]="picker1" 
              formControlName="endDate" 
              >
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
            <mat-error *ngIf="form.get('endDate').hasError('required')">
              Data de término é obrigatório.
            </mat-error>
        </mat-form-field>

        <mat-form-field class="half-width" appearance="outline">
          <mat-label>Valor</mat-label>
          <input 
          formControlName="price"
          name="price"
          matInput
          placeholder="100,00">
        </mat-form-field>
      </form>
    </div>

    <div class="button-add">
      <button (click)="saveClick()" mat-fab aria-label="Salvar">
        <mat-icon>check</mat-icon>
      </button>
    </div>

</mat-card>