<mat-card class="card">

    <mat-card-header>
      <mat-card-title>Contas Bancárias</mat-card-title>
      <mat-card-subtitle>{{idRegistro}}</mat-card-subtitle>
      <a class="back-search" mat-button (click)="backSearch()">Voltar a pesquisa</a>
    </mat-card-header>

    <div class="container">
      <form class="form" [formGroup]="form">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Nome</mat-label>
          <input 
          formControlName="name"
          name="name"
          matInput >
          <mat-error *ngIf="form.get('name').hasError('required')">
            Nome é obrigatório.
          </mat-error>

          <mat-error *ngIf="form.get('name').hasError('maxlength')">
            Nome deve ter no máximo 250 caracteres.
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Número</mat-label>
          <input 
          formControlName="number"
          required
          name="number"
          matInput >
          <mat-error *ngIf="form.get('number').hasError('required')">
            Número é obrigatório.
          </mat-error>

          <mat-error *ngIf="form.get('number').hasError('minlength')">
            Número deve ter pelo menos 6 caracteres.
          </mat-error>

          <mat-error *ngIf="form.get('number').hasError('maxlength')">
            Número deve ter no máximo 12 caracteres.
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Agência</mat-label>
            <input 
            formControlName="agency"
            required
            name="agency"
            matInput >
            <mat-error *ngIf="form.get('agency').hasError('required')">
              Agência é obrigatório.
            </mat-error>
  
            <mat-error *ngIf="form.get('agency').hasError('minlength')">
              Agência deve ter pelo menos 4 caracteres.
            </mat-error>
  
            <mat-error *ngIf="form.get('agency').hasError('maxlength')">
              Agência deve ter no máximo 4 caracteres.
            </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Banco</mat-label>
          <input 
          formControlName="bank"
          required
          name="bank"  
          matInput >
          <mat-error *ngIf="form.get('bank').hasError('required')">
            Banco é obrigatório.
          </mat-error>

          <mat-error *ngIf="form.get('bank').hasError('minlength')">
            Banco deve ter pelo menos 2 caracteres.
          </mat-error>

          <mat-error *ngIf="form.get('bank').hasError('maxlength')">
            Banco deve ter no máximo 255 caracteres.
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Tipo</mat-label>
          <mat-select formControlName="type">
            <mat-option *ngFor="let option of accountTypeOptions" [value]="option.value">
              {{ option.label }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="form.get('type').hasError('required')">
            Tipo é obrigatório.
          </mat-error>
        </mat-form-field>
      </form>
    </div>

    <div class="button-add">
      <button (click)="saveClick()" mat-fab aria-label="Salvar">
        <mat-icon>check</mat-icon>
      </button>
    </div>

</mat-card>