<div class="container">
    <form class="form  mat-elevation-z8" [formGroup]="form">

        <h1>Controle Financeiro Pessoal</h1>

        <!-- <img src="assets/img/fundo.png" alt="Controle Financeiro Pessoal"> -->

        <mat-form-field class="full-width" appearance="outline">
          <mat-label>E-mail</mat-label>
          <input 
          formControlName="username"
          required
          name="username"
          matInput 
          placeholder="Ex. fulano@gmail.com">
        </mat-form-field>
      
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Senha</mat-label>
          <input 
          formControlName="password"
          required
          name="password" 
          type="password" 
          matInput 
          placeholder="Ex. 123">
        </mat-form-field>

        <button (click)="logar()" [disabled]="!validaCampos()" class="full-width mat-elevation-z4" mat-stroked-button color="primary">Login</button>
        <button (click)="cadastrar()" class="full-width mat-elevation-z4 button" mat-stroked-button color="primary">Cadastre-se</button>
      </form>
</div>